* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Flexbox */
header,
nav,
.rank,
.container,
.footer-rank,
.author,
.container,
.wrap,
.nav-rank,
.preview,
.stats,
.stats i,
.editar_foto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* Width 100% */
header img,
.cover img,
nav,
.rank,
.portada {
    width: 100%;
}

body {
    font-family: Lato;
    font-size: 18px;
}

main {
    margin: 0px 7%;
    padding-top: 100px;
}

/* Sticky navbar */
.sticky {
    position: fixed;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.sticky + main {
    padding-top: 175px;
}

/* Logo */
header {
    width: 100%;
    background: #fff;
    padding: 20px 7%;
}

header a {
    width: 261px;
}


/* Menú header */
nav {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

nav a {
    text-align: right;
    font-size: 20px;
    text-decoration: none;
    color: #c9c9c9;
    width: auto;
    margin-right: 60px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

nav a:hover {
    opacity: 0.5;
}

/* Botón iniciar sesión */
.btnLogin,
.btnLogout {
    color: #fff;
    background: #385D66;
    border: none;
    border-radius: 17px;
    font-size: 20px;
    padding: 5px 15px;
    cursor: pointer;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

.btnLogin:hover {
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

/* Ranking */
.rank {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.cover {
    width: 30%;
    max-width: 500px;
    margin-right: 20px;
    cursor: pointer;
}

.wrap {
    width: 60%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.info h3 {
    font-family: Lora;
    font-size: 38px;
    font-weight: 100;
    cursor: pointer;
}

.info a {
    text-decoration: none;
    color: #707070;
}

.info p {
    color: #c9c9c9;
    text-align: justify;
}

.footer-rank {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: auto;
}

.footer-rank a {
    text-decoration: none;
    color: #707070;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

/* Foto y alias del autor */
.author {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.author p {
    text-transform: capitalize;
}

.author .pic img {
    width: 76px;
    height: 76px;
    border-radius: 50px;
    border: solid 5px #fff;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    margin-right: 20px;
}

.author p {
    text-align: left;
}

/* Nav del rank */
.nav-rank {
    height: 90px;
    margin: 20px 0 50px 0;
}

.nav-rank-item {
    border-top: solid 10px #385D66;
    width: 25%;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    cursor: pointer;
}

.selected {
    border-top: solid 10px #c9c9c9;
}

.selected a {
    font-weight: 600;
}

.nav-rank-item a {
    display: inline-block;
    color: #707070;
    text-decoration: none;
    font-family: Lora;
    margin: 10px;
    -webkit-transition: 0.3s ease;
}

.nav-rank-item:hover {
    border-top: solid 14px #385D66;
}

.selected:hover {
    border-top: solid 15px #c9c9c9;
}

/* Visor de blogs */
.preview {
    margin-bottom: 100px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.item-prev {
    width: 32%;
    margin: 10px auto;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    padding: 50px;
}

.item-prev h4,
.item-prev h3,
.stats {
    margin-bottom: 30px;
}

.item-prev h4 {
    text-align: center;
    cursor: pointer;
}

.item-prev h4 a {
    text-decoration: none;
    color: #c9c9c9;
}

.item-prev h3 {
    text-align: center;
    font-family: Lora;
    cursor: pointer;
}

.item-prev h3 a {
    text-decoration: none;
    color: #707070;
}

.item-prev p {
    margin-bottom: 10px;
    color: #c9c9c9;
}

.stats {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #707070;
}

.stats p {
    font-family: Lato;
    font-weight: 100;
    margin-left: 10px;
}

.author p {
    color: #707070;
}

/* Articulo */
.articulo {
    display: flex;
    flex-direction: column;
}

.article_title {
    font-size: 38px;
    color: #707070;
    font-family: Lora;
}

.fecha {
    color: #c9c9c9;
    font-size: 16px;
    margin-bottom: 20px;
}

.portada {
    background: #000;
    margin-bottom: 50px;
}

.portada img {
    display: block;
    margin: 0 auto;
    width: 30%;
}

.content {
    text-align: justify;
    color: #707070;
    margin-bottom: 100px;
}

.articulo .author {
    margin-bottom: 80px;
}

/* Paginación */
.paginacion ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.circle {
    margin: 0 20px;
    width: 28px;
    height: 28px;
    border-radius: 100px;
    background-color: #c9c9c9;
    transition: 0.3s ease;
}

.circle:hover {
    background-color: #707070;
}

.paginacion ul li {
    list-style: none;
    font-size: 28px;
    color: #c9c9c9;
    transition: 0.3s ease;
}

.paginacion ul li:hover {
    font-size: 32px;
}

.paginacion ul li a {
    color: #C9C9C9;
}

.disabled {
    cursor: not-allowed;
}

.actual {
    background-color: #707070;
}

/* ERROR */
.error h2 {
    text-align: center;
    font-size: 48px;
    font-family: Lato;
    color: #707070;
}

.error {
    margin-bottom: 100px;
}

/* Perfil */
main .pp {
    width: 350px;
    margin: auto;
}

main .pp img {
    width: 100%;
    border-radius: 1000px;
    margin-top: -120px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

main .editar_foto {
    margin-top: 100px;
    border-top: solid 3px #c9c9c9;
    flex-direction: column;
}

main .editar_foto .load_p {
    width: 70px;
    height: 70px;
    display: block;
    background-color: #385D66;
    border: none;
    border-radius: 50px;
    margin: auto;
    margin-top: -60px;
    margin-left: 55%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

main .editar_foto .load_p i {
    color: #fff;
    font-size: 30px;
}

main .profile_container {
    text-align: center;
    margin-bottom: 100px;
}

main .profile_container h2 {
    font-size: 58px;
    color: #707070;
    text-transform: capitalize;
    margin-bottom: 20px;
}

main .profile_container p {
    font-size: 28px;
    color: #c9c9c9;
    margin-bottom: 20px;
}

main .profile_container .gender {
    text-transform: capitalize;
}

main .profile_container a {
    text-decoration: none;
    color: #707070;
    transition: 0.3s ease;
}

main .profile_container a:hover {
    opacity: 0.5;
}

main .no_p {
    color: #707070;
    text-align: center;
    margin-bottom: 100px;
}

/* Footer */
footer {
    font-size: 16px;
    rgba(0, 0, 0, 0.16);
    box-shadow: 0 -10px 10px 0 rgba(0, 0, 0, 0.16);
    width: 100%;
    padding: 20px;
}
